
.tgl {
    position: relative;
    outline: 0;
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    margin: 0 0 0 0;
    vertical-align: middle;
  }
  .tgl span {
    width: 85px;
    display: block;
    height: 30px;
    line-height: 20px;
    overflow: hidden;
    font-weight: normal;
    border-radius: 60px;
    padding: 0.2em 1em;
    border: 1px solid #fafafa;
  }
  .tgl span:before {
    position: relative;
    display: block;
    line-height: 1.3em;
    padding: 0 0.2em;
    font-size: 10px;
  }
  .tgl span:after {
    position: absolute;
    display: block;
    content: '';
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin-left: -1.45em;
    top: 0.2em;
    background: #FFFFFF;
  }
  .tgl input[type="checkbox"] {
    display: none !important;
  }
  .tgl input[type="checkbox"]:not(:checked) + span {
    background: #de474e;
    color: #FFFFFF;
    padding-left: 1.6em;
    padding-right: 0.4em;
  }
  .tgl input[type="checkbox"]:not(:checked) + span:before {
    content: attr(data-off);
    color: #FFFFFF;
  }
  .tgl input[type="checkbox"]:not(:checked) + span:after {
    background: #FFFFFF;
    left: 1.6em;
  }
  .tgl input[type="checkbox"]:checked + span {
    background: #86d993;
    color: #FFFFFF;
    padding-left: 0.4em;
    padding-right: 1.6em;
  }
  .tgl input[type="checkbox"]:checked + span:before {
    content: attr(data-on);
  }
  .tgl input[type="checkbox"]:checked + span:after {
    background: #FFFFFF;
    left: 100%;
  }
  